
.rightbarFriend{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;
}

.rightarProfileImgContainer{
    margin-right: 10px;
    position: relative;
}

.rightbarProfileImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 15px;
}

.rightbarOnline{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #4caf50;
    position: absolute;
} 



.rightbarUsername{
    font-size: 16px;
    font-weight: 500;
    margin-left: 12px;
}