.rightbar{
    flex: 3.5;
    height: calc(100vh - 50px);
    overflow-y: scroll;
    position: sticky;
    top: 50px;
}

.birthdayContainer{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;  
    margin-left: 10px;
    border-radius: 10px;
    background-color: #f5f8fa;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.rightbarWrapper{
    padding: 20px 20px 0 0;
}

.birthdayImg{
    width: 40px;
    height: 40px; 
    margin-right: 10px;
}

.birthdayText{
    font-weight: 300;
    font-size: 15px;
}

.rightbarAd{
    width: 100%;
    height: 230px;
    margin-top: 20px 0;
    margin-left: 10px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
} 

.rightbarFriendList{
    padding: 0;
    margin: 0;
    list-style: none;
}

.rightbarTitle{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 20px;
}

.rightbarInfiItem{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-left: 15px;
    font-weight: 300;
    /* box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px; */
}

.rightbarInfoKey{
    margin-right: 10px;
    font-weight: 500;
}

.rightbarInfo{
    margin-left: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.moreButton{
    width: 97%;
    padding: 10px;
    border-radius: 5px;
    background-color: #00981c;
    color: #ffffff;
    cursor: pointer;
    border: none; 
    font-weight: 500;
    margin-left: 10px;
}